rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['text', 'sender', 'createdAt'])
                    && request.resource.data.text is string
                    && request.resource.data.text.size() > 0
                    && request.resource.data.text.size() <= 500;
      allow delete: if true;
    }
    match /bans/{nickname} {
      allow read: if true;
      allow write: if true;
    }
  }
}
